DATABASE_USERNAME = username
DATABASE_PASSWORD = password

EMAIL_ADDRESS  = email
EMAIL_PASSWORD = password

STRIPE_API_KEY        = private api key from stripe
STRIPE_WEBHOOK_SECRET = secret key for stripe webhooks

JWT_SECRET = base64 encoding of a string that has minimum length of 43

IMAGES_DIRECTORY = absolute path to a local directory